.form {
	margin-block: 2rem;
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 0.5rem;
}

.form:focus-within .label {
	color: var(--font-color);
}

.inputLabel {
	grid-column: 1 / span 2;
}

.nameInput {
	width: 100%;
}
